body {
  font-family: "Nunito", sans-serif;
  background-color: #f3f3f3;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
}

.container {
  background-color: #ffffff;
  max-width: 1188px;
  margin: 0 auto;
}

.header {
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
}

.nav-menu {
  display: flex;
  align-items: center;
}
.logo-link {
  display: flex;
  margin-right: 20px;
}
.header-logo {
}
.second {
  transform: rotate(90deg);
}
.nav-list {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  font-weight: 700;
  font-size: 20px;
}

.accent {
  color: rgb(255, 118, 77);
}

.nav-item {
}

.nav-link .accent {
}

.nav-link {
  display: flex;
  align-items: center;
}
.plus-icon {
  fill: rgb(255, 118, 77);
  margin-left: 4px;
}
.side-menu-list {
  display: flex;
  gap: 14px;
}
.side-menu-item {
}
.side-menu-link {
  font-weight: 700;
  font-size: 20px;
}

.accent-2 {
  color: rgb(0, 0, 255);
}

.line {
  background-color: #f3f3f3;
  height: 2px;
}

.secondary-nav-menu {
}

.secondary-nav-list {
  display: flex;
  gap: 20px;
}

.secondary-nav-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.hero {
}
.container {
}
.hero .container {
  padding-bottom: 80px;
}

.hero-image {
  margin: 0 auto 120px;
}

.text-wrap {
  max-width: 900px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 28px;
}
.description {
  font-size: 20px;
  line-height: 30px;
}

.img-section .container {
}

.about .container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.about-video {
  margin: 100px auto 100px;
}

.how-we-work .container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.hww-img {
  margin: 100px auto;
}

.employment .container {
  padding: 100px 0 100px;
}

.jobs-wrap {
  width: 1000px;
  height: 492px;
  display: flex;
  margin: 80px auto 0;
}

.jobs-right {
  background-color: #b1c5ff;
  width: 50%;
  height: 100%;
  padding-top: 120px;
}

.jobs-text-wrap {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  max-width: 300px;
  margin: 0 auto;
}

.jobs-text {
}
.jobs-link {
}

.line.bottom {
  height: 4px;
}

.footer .container {
  padding: 120px 100px;
}

.footer-title {
  font-size: 30px;
  line-height: 42px;
  font-weight: 700;
}
.footer-menu-wrap {
  display: flex;
}
.footer-submenu-wrap {
}
.footer-list {
}
.footer-item {
  line-height: 18px;
  margin-bottom: 10px;
}
.footer-socials-list {
}
.footer-socials-item {
}
.footer-socials {
}
.footer-socials-icon {
}

.footer-list {
  width: 200px;
}

.footer-list-2 {
  width: 400px;
}
.footer-item {
}
.footer-subtitle {
  font-weight: 700;
}
.footer-newsletter-wrap {
}

.footer-input-field {
  display: flex;
}

.footer-newsletter-input {
  height: 32px;
  width: 350px;
  flex-grow: 1;
  border: none;
  background-color: #efefef;
}

.footer-signup-btn {
  color: #ffffff;
  background-color: #0000ff;
  border: none;
  outline: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  height: 32px;
  font-weight: 500;
}
